extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: OrmDemo\*Module\*Presenter

session:
	expiration: 14 days


orm:
	model: OrmDemo\Orm


migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nextras
	withDummyData: true

services:
	routerFactory: OrmDemo\RouterFactory()
	router: @routerFactory::createRouter
