extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: OrmDemo\*Module\*Presenter

session:
	expiration: 14 days


orm:
	model: OrmDemo\Orm


services:
	routerFactory: OrmDemo\RouterFactory()
	router: @routerFactory::createRouter
