{templateType OrmDemo\HomepageTemplate}
{block content}

{foreach $posts as $post}
<h2><a n:href="detail $post->id">{$post->title}</a></h2>

<p>Tags: <span n:foreach="$post->tags as $tag">{$tag->name}{sep}, {/sep}</span></p>

<p>{$post->content}</p>

<hr>
{/foreach}

{/block}
