{block content}

<h1>{$post->title}</h1>

<p>Tags: <span n:foreach="$post->tags as $tag">{$tag->name}{sep}, {/sep}</span></p>

<p>{$post->content}</p>

<hr>

<h4>Comments:</h4>

{foreach $post->comments as $comment}
	<div class="comment">
		<span>{$comment->name}, {$comment->email}</span>
		<a n:href="deleteComment! $comment->id">smazat komentář</a>
		<p>{$comment->content}</p>
	</div>
{/foreach}

{control addCommentForm}
